.container-button {
  justify-content: center !important;
  align-items: center !important;
  padding-left: 38px;
}

.container-booking-btn {
  justify-content: center !important;
  align-items: center !important;
  padding-left: 39px;
}
